@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fcf7f7;
}

.main-template {
  margin: 30px auto;
  width: 42vw;
  height: auto;
  padding-bottom: 22px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.top-template {
  background: #e9ecef;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-template h4 {
  font-weight: 700;
}

.cust-details {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.cust-details input {
  width: 43%;
}

.address,
.prdct-details {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.prdct-details-cont input {
  width: 100%;
}

.prdct-details-cont .fa-magnifying-glass {
  position: absolute;
  right: 7%;
  top: 17px;
  transform: scaleX(-1);
}

.prdct-details-cont {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.address textarea,
.prdct-details input {
  width: 91%;
}

.bottom-template,
.bottom-template-2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  width: 45%;
  padding: 10px;
}

.bottom-template button {
  width: 30%;
  margin: 12px;
  background: #000;
  border: none;
  padding: 8px;
  color: #fff;
  border-radius: 7px;
}

button i {
  padding: 0px 8px;
}

.bottom-template-2 button {
  width: 30%;
  margin: 12px;
  border: 1px solid black;
  outline: none;
  padding: 8px;
  color: #000;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .main-template {
    height: auto;
    background: #fff;
    width: 93%;
    margin: 18px auto;
  }

  .cust-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  .cust-details input {
    width: 90%;
    margin: 20px;
  }

  .bottom-template {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: normal;
  }

  .dropdown {
    width: 100%;
    padding: 10px;
    margin: 12px 0px;
  }

  .bottom-template button {
    width: 100%;
    background: #000;
    border: none;
    margin: 16px 0px;
    color: #fff;
    border-radius: 7px;
  }

  .bottom-template .download-btn {
    background: #fff;
    color: #000;
    border: 1px solid black;
  }

  .bottom-template-2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .bottom-template-2 button {
    width: 45%;
    margin: 0px;
    padding: 0px 5px;
    border: 1px solid black;
    outline: none;
    padding: 8px;
    color: #000;
    border-radius: 7px;
  }

  .bottom-template-2 .telegram {
    display: none;
  }

  .prdct-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px;
  }

  .prdct-details-cont {
    margin-bottom: 15px;
  }

  .matched-selected-prdct {
    width: 100%;
    border-radius: 9px;
    margin: 0px 15px;
    padding: 0px 15px;
  }

  .matched-products {
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  }

  .matched-products .hr {
    width: 100%;
    height: 0.1px;
    background: #000;
  }

  .matched-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
  }

  .matched-product .matched-pn-pd {
    width: 80%;
  }

  .matched-product .matched-pn-pd h6 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
  }

  .matched-product .matched-pn-pd p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: left;
  }

  .matched-pp {
    font-weight: 700;
  }

  .selected-products {
    border-radius: 9px;
    border-radius: 9px;
    width: 100%;
    height: 100%;
  }

  .selected-product {
    border: 0.3px solid black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 7px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom: none;
    padding-bottom: 0;
  }

  .selected-product .matched-product-info h6 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 17px;
    font-weight: 700;
  }

  .selected-product .matched-product-info p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: left;
  }

  .selected-product .product-price {
    position: relative;
    display: flex;
  }

  .selected-product .product-price p {
    padding-right: 15px;
  }

  .selected-product .product-price i {
    position: absolute;
    top: -10px;
    right: 3px;
  }

  .imei {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border: 0.3px solid black;
    border-top: none;
    margin-bottom: 15px;
    justify-content: center;
  }

  .imei input {
    border: none;
    outline: none;
    padding: 8px 0px;
    width: 90%;
  }

  .discount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .discount-type {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    width: 100%;
  }

  .discount-type label {
    margin-right: 20px;
    font-weight: bold;
  }

  .discount-input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .discount-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .apply-discount-button {
    padding: 9px;
    width: 35%;
    margin-left: 15px;
    background-color: Black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .apply-discount-button:hover {
    background-color: #2e9f3d;
  }
}
